body {
    background-color: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showbook {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booklist {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 20%;
    border: 3px solid black;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addbokss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formadd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.btn-white {
    background-color: #fff;
}

.input-white {
    background-color: #fff;
    border: 3px solid black;
}

.btn-remove {
    text-decoration: none;
    color: black;
}